{% extends "base.html" %}

{% block content %}
<main>
    <div>
        {% for stuff in project_detail %}
            <h1>{{ stuff.name }}</h1>
            <p>{{ stuff.description }}</p>
        {% endfor %}
        <h2>Tasks</h2>
        <p><a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if task_details %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_details %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.assignee }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock %}
